.text {
    color: rgba(165, 42, 42, 0.76);
    font-size:2rem;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.text:hover{
    cursor: pointer;
}